name: Trigger Build

on: push

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Sleep for 300 seconds
        run: sleep 300s
        shell: bash
      - name: Trigger build
        uses: peter-evans/repository-dispatch@v1.1.3
        with:
          token: ${{ secrets.REPO_PAT }}
          repository: italyplace/thing
          event-type: generate
          client-payload: '{"branch": "${{ steps.extract_branch.outputs.tag }}"}'